@mixin flex($direction,$wrap,$justify,$align,$gap){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap; 
}
@mixin height-width($height,$width){
    height: $height;
    width: $width;
};

