.botonProducto {
    font-size: 1.875rem;
    padding: .625rem;
    border-radius: 9%;
    background-color: $color-boton;

    a {
        text-decoration: none;
        color: black;
        font-family: 'Playpen Sans', cursive;
    }

}